* {
    margin: 0;

}

body {
    background-color: rgb(55, 54, 54);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

svg {
    stroke: rgb(203, 201, 201);
}

.dropdown-container {
    position: absolute;
    top: 10rem;
    color: rgb(203, 201, 201);
    display: flex;
    flex-direction: column;
}

.dropdown-button {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #696969;
    gap: 0.5rem;
    cursor: pointer;
}

.dropdown-button-hover {
    background-color: #838383;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dropdown-content {
    visibility: hidden;
    padding: 0.5rem;
    display: flex;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    flex-direction: column;
    background-color: #696969;
}

.dropdown-content ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    list-style: none;
    padding: 0;
    margin: none;
}

.dropdown-content li {
    margin: none;
    padding: none;
    cursor: pointer;
}

.dropdown-content li:hover {
    color: rgb(163, 163, 163);
}

.carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(55, 54, 54);
    height:30rem;
    width: 100vw;
}

.carousel-container h1 {
    color: white;
}

.image-container {
    position: relative;
    display: flex;
    height: 18rem;
    width: 30rem;
    justify-content: center;
    align-items: center;
}

img {
    position: absolute;
    height: 18rem;
    width: auto;
}

.img-hidden {
    visibility: hidden;
}

.feather-chevron-right, .feather-chevron-left {
    width: 50px;
    height: 50px;
}

.feather-chevron-right:hover, .feather-chevron-left:hover {
    stroke: #838383;
    cursor: pointer;
}

.scroll-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navdot-container {
    display: flex;
    gap: 1rem;
}

.navdot {
    height: 1rem;
    width: 1rem;
    background-color: #838383;
    border-radius: 1rem;
    cursor: pointer;
}

.navdot:hover {
    background-color: #696969;
}

.navdot-selected {
    background-color: #696969;
}